<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>LocalBox</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>fonts/RijksoverheidSansTextTT-Regular_2_0.ttf</string>
		<string>fonts/RijksoverheidSansTextTT-Bold_2_0.ttf</string>
		<string>fonts/RijksoverheidSansTextTT-Italic_2_0.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>localbox.letshare</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lbox</string>
			</array>
		</dict>
	</array>
	<key>XSAppIconAssets</key>
	<string>Resources/Images.xcassets/AppIcons.appiconset</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>All Files</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.gnu.gnu-tar-archive</string>
				<string>org.gnu.gnu-zip-archve</string>
				<string>public.archive</string>
				<string>public.audio</string>
				<string>public.audiovisual-content</string>
				<string>public.content</string>
				<string>public.data</string>
				<string>public.executable</string>
				<string>public.fax</string>
				<string>public.image</string>
				<string>public.presentation</string>
			</array>
		</dict>
	</array>
	<key>XSLaunchImageAssets</key>
	<string>Resources/Images.xcassets/LaunchImage.launchimage</string>
	<key>CFBundleIdentifier</key>
	<string>com.belastingdienst.localbox</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.5</string>
	<key>CFBundleVersion</key>
	<string>1.1.5</string>
</dict>
</plist>
